@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


h1 {
    font-family: "Montserrat", Arial;
    font-size: 10em;
    text-align: center;
}

#drumpad {
    display: grid;
    width: 50vw;
    height: 70vh;
    grid-gap: 10px;
    grid-template-areas:
    "Q W E"
    "A S D"
    "Z X C";
}

#Q {
    grid-area: Q;
}

#W {
    grid-area: W;
}

#E {
    grid-area: E;
}

#A {
    grid-area: A;
}

#S {
    grid-area: S;
}

#D {
    grid-area: D;
}

#Z {
    grid-area: Z;
}

#X {
    grid-area: X;
}

#C {
    grid-area: C;
}
