@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    font-size: 62.5%
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    align-content:center;
}

h1 {
    font-family: "Montserrat", Arial;
    font-size: 7rem;
    text-align: center;
    margin-bottom: 10vh;
    color: #EBE0DE;
}

#drumpad {
    display: grid;
    grid-gap: 1em;
    padding: 3em;
    border-radius: 20px;
    border: solid 1em #EBE0DE;
    margin: auto;
    background-color: #FFFFFF;
    grid-template-rows: 2vh 10rem 10rem 10rem;
    grid-template-columns: 16rem 16rem 16rem;
    grid-template-areas:
    "F F V"
    "Q W E"
    "A S D"
    "Z X C";
}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 2vw;
    grid-area: F;
    background-color: #EBE0DE;
    font-size: 1rem;
    border: solid 1px #979797;
    border-style: ridge;
}

#volume {
    grid-area: V;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
}

#Q {
    grid-area: Q;
}

#W {
    grid-area: W;
}

#E {
    grid-area: E;
}

#A {
    grid-area: A;
}

#S {
    grid-area: S;
}

#D {
    grid-area: D;
}

#Z {
    grid-area: Z;
}

#X {
    grid-area: X;
}

#C {
    grid-area: C;
}

.drum-pad {
    background-color: #EBE0DE;
    font-size: 5em;
    border-radius: 8px;
}

@media only screen and (min-width: 1px) and (max-width: 600px) {
    h1 {
        font-size: 3rem;
        margin-bottom: 7vh;
    }

    #drumpad {
        grid-gap: 1.5em;
        padding: 3em;
        border: solid 1em #EBE0DE;
        grid-template-rows: 2vh 7rem 7rem 7rem;
        grid-template-columns: 7rem 7rem 7rem;
    }

    .drum-pad {
        font-size: 4em;
    }

    #volume {
        width: 9rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    h1 {
        font-size: 0;
        margin-bottom: 0;
    }

    #drumpad {
        grid-gap: 1.5em;
        padding: 3em;
        border: solid 1em #EBE0DE;
        grid-template-rows: 2vh 5rem 5rem 5rem;
        grid-template-columns: 7rem 7rem 7rem;
    }

    #display {
        padding: 1vh 0;
    }

    .drum-pad {
        font-size: 3.5em;
    }

    #volume {
        width: 7rem;
    }
}